<div class="tarjetas-container">

    <% for (const product of products) { %>
        <a href="/products/<%=product.id %>" class="tarjeta-link">
            <article class="tarjeta-articulo">

                <img src="<%= product.image%>" alt="<%= product.title %>" class="tarjeta-img">

                <div class="tarjeta-info">
                    <h3 class="tarjeta-titulo">
                        <%= product.title %>
                    </h3>
                    <p class="tarjeta-precio"> $<%= product.price %>
                    </p>
                    <p class="tarjeta-descripcion">
                        <%= product.description %>
                    </p>

                    <button class="tarjeta-btn-quitar">Quitar</button>

                    <div class="tarjeta-cantidad-box">
                        <button class="tarjeta-btn-cant"> - </button>
                        <span class="tarjeta-numero-cant">1</span>
                        <button class="tarjeta-btn-cant"> + </button>
                    </div>
                </div>
            </article>
        </a>
        <% } %>

</div>