

<article class="cart-card">
    <a href="/products/<%=product.id %>" class="cart-card-link">
        <img src="<%= product.image%>" alt="<%= product.title %>" class="cart-card-img">
        <div class="cart-card-body">
            <h3 class="cart-card-title"><%= product.title %></h3>
            <p class="cart-card-price">$<%= product.price %></p>
            <p class="cart-card-desc"><%= product.description %></p>
        </div>
    </a>
    <div class="cart-card-actions">
        <a href="/agregar-al-carrito/<%= product.id %>" class="btn-add-card">Agregar al carrito 🛒</a>
    </div>
</article>