<%- include('./partials/header') %>

<main style="padding: 40px 10%">

    <a href="/"style="background: #4a4e54; color: white; border: none; padding: 12px 24px; border-radius: 20px; cursor: pointer; margin-bottom: 10px; font-size: 1.0rem; text-decoration: none;">Volver al inicio</a>
    <h2 style="margin: 30px 0;">Productos en tu Carrito</h2>

    <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">

        <% for (const product of products) { %>
            <article style="width: 100%; max-width: 900px; background-color: #ffffff; border: 1px solid #eaeaea; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.05); display: flex; flex-direction: row; align-items: center; padding: 15px 30px;">
                
    <img src="<%= product.image %>" alt="<%= product.title %>" style="width: 60px; height: 60px; object-fit: contain; margin-right: 20px;">

    <div style="flex-grow: 1; text-align: left;">
        <h3 style="font-size: 1.1rem; margin: 0; color: #333;"><%= product.title %></h3>
        </div>

    <div style="display: flex; align-items: center; gap: 20px;">
        
        <button style="background: #5a5f66; color: white; border: none; padding: 8px 18px; border-radius: 20px; cursor: pointer; font-size: 0.9rem;">Quitar</button>

        <div style="display: flex; justify-content: center; align-items: center; border: 1px solid #ccc; border-radius: 20px; padding: 4px 15px;">
            <button style="background: none; border: none; cursor: pointer; font-weight: bold; color: #666;"> - </button>
            <span style="margin: 0 15px;">1</span> 
            <button style="background: none; border: none; cursor: pointer; font-weight: bold; color: #666;"> + </button>
        </div>

        <p style="font-size: 1.3rem; font-weight: bold; color: #333; margin: 0; min-width: 90px; text-align: right;">
            $<%= product.price %>
        </p>

    </div>

</article>
        <% } %>

    </div>

    <div style="text-align: right; margin-top: 40px;">
        <button style="background-color: #4a4e54; color: white; padding: 15px 40px; border: none; border-radius: 25px; font-size: 16px; cursor: pointer;">Ir a Pagar</button>
    </div>
</main>
<%- include('./partials/footer') %>